<div class="center jumbotron">
  <h1>XML-Projekt <i>"Bärte"</i></h1>

  <h2>
    Hier entsteht die Projektseite der
     <a href="http://www.mi.fu-berlin.de/inf/groups/hcc/teaching/Sommersemester-2016/Vorlesung_XML.html">XML-Technologien</a>
    Beispielanwendung.
  </h2>

  <%= link_to "Worum gehts hier?", '#', class: "btn btn-lg btn-primary" %>
</div>