<footer class="footer">
  <small>
    The <%= link_to "XML-Projekt", "https://github.com/cvhf/XML-APP/", :target => "_blank" %>
    by <%= link_to "Team X", about_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="#">Neuigkeiten</a></li>
    </ul>
  </nav>
</footer>