<footer class="footer">
  <small>
    The <a href="#">XML-Projekt</a>
    by <a href="#">Team X</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
      <li><a href="#">Neuigkeiten</a></li>
    </ul>
  </nav>
</footer>